export LINE_CHANNEL_SECRET=32cb24f5a7864a44afd4790b1517f836
export LINE_CHANNEL_ACCESS_TOKEN=+WVR8r/HGqprF3RFIBdsMFlzD8iIGKUHM9dQgrWm1lZmxSpG0L1I9LqgY2FhW6pS+6kiGFcMT0g3fxYLOSNHRuR/Xm8rDr7bm3Us9odl9n2dKa+fbsqg+M8ozIBffPAjCyswSJxgKwfxQmDaMZ5qCQdB04t89/1O/w1cDnyilFU=
python3 app.py

./ngrok http 8000
